<h3>Un produit n'est plus en stock !</h3>

Bonjour
{{ name }}
Un e-mail vous a été envoyé car le produit
{{ material_empty}}
n'est plus en stock et donc a été supprimé de la liste sur le site www.azerty.com.


Cordialement ...
